<!DOCTYPE html>
<html ng-app="ngStatsDemo">
<head lang="en">
  <meta charset="UTF-8">
  <title>ng-stats demo</title>
  <style>
    .title {
      text-align: center;
    }
    body {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    pre {
      padding: 12px;
      background-color: #eee;
    }
    .item.hovering {
      background-color: #eee;
    }
    strong {
      display: block;
      margin-top: 12px;
    }
    .footer {
      text-align: center;
      margin: 40px 0 20px 0;
    }
  </style>
</head>
<body ng-controller="MainCtrl as vm">

<div class="title">
  <h1>ng-stats demo</h1>
  <small>Repo on <a href="http://github.com/kentcdodds/ng-stats">GitHub</a></small>
</div>
<div style="margin-top:20px;">
  This is a demo for a little utility to show stats about your page's angular digest/watches. This library currently
  has a simple script to produce a chart. It also creates a module called `angularStats` which has a directive called
  `angular-stats` which can be used to put angular stats on a specific place on the page that you specify.
</div>
<div>
  <h2>Chart</h2>
  <show-stats></show-stats>
</div>
<div>
  <h2>Directive</h2>
  <div angular-stats watch-count=".watch-count" digest-length=".digest-length"
       on-watch-count-update="vm.onWatchCountUpdate(watchCount)"
       on-digest-length-update="vm.onDigestLengthUpdate(digestLength)">
    Watch Count: <span class="watch-count"></span><br />
    Digest Cycle Length: <span class="digest-length"></span>
  </div>
</div>
<div>
  <h2>Watcher & Digest Simulation</h2>
  <div>
    <h3>Control Watch Count and Digest Length</h3>
    <label>Total Items (watch count): <input type="number" ng-model="vm.itemCount" max="5000" min="0" /> items</label><br />
    <label>Filter Wait (digest length): <input type="number" ng-model="vm.filterWait.waitTime" max="100" min="0" /> milliseconds</label>
    <div>
      <h4>Force Digests</h4>
      You can force digests by mousing over the items below. Notice that the filter wait impacts performance more
      quickly than the watch count... In fact, see the huge difference between 0 and 1 milliseconds on the filter wait.
      This scenario is most likely to be the case in most apps, however, this demo illustrates the importance of keeping
      your watcher expressions lightweight.
    </div>
    <br/>
    <div ng-repeat="item in vm.totalItems" class="item" ng-class="{'hovering': vm.hovering[item]}" ng-mouseenter="vm.hovering[item]=true" ng-mouseleave="vm.hovering[item]=false">
      {{item | longFilter}}
    </div>
  </div>
</div>

<div class="footer">Created with ♥ by <a href="http://twitter.com/kentcdodds">Kent C. Dodds</a>
|
Hosted by <a href="http://github.com/kentcdodds/ng-stats">GitHub</a></div>

<script src="angular.js"></script>
<script src="ng-stats.js"></script>
<script type="text/ng-template" id="show-stats-template">
  <div>
    <div>
      <strong>Position</strong>
      <label>Top: <input type="radio" name="stats-tb" ng-model="controls.tb" value="top"></label>
      <label>Bottom: <input type="radio" name="stats-tb" ng-model="controls.tb" value="bottom"></label>
      <br />
      <label>Left: <input type="radio" name="stats-lr" ng-model="controls.lr" value="left"></label>
      <label>Right: <input type="radio" name="stats-lr" ng-model="controls.lr" value="right"></label>
    </div>
    <div>
      <strong>Logging</strong>
      <label><input type="checkbox" ng-model="controls.logDigest" /> Log Digest</label>
      <label><input type="checkbox" ng-model="controls.logWatches" /> Log Watches</label>
    </div>
    <div>
      <strong>Green - Red Control</strong>
      <label>Digest Length Threshold: <input type="number" ng-model="controls.threshold" min="0" /></label>
    </div>
    <div>
      <strong>Load on refresh</strong>
      <label><input type="checkbox" ng-model="controls.autoload" /> Autoload</label>
    </div>
    <div>
      <strong>Reset to default</strong>
      <button ng-click="toggleVisibility()" href="#">{{chartVisible ? 'Hide' : 'Show'}} Chart</button>
    </div>
    <div>
      <strong>Current chart options:</strong>
      <pre ng-bind="chartOptions | chartOptions"></pre>
    </div>
  </div>
</script>
<script>
  (function() {
    'use strict';
    var app = angular.module('ngStatsDemo', ['angularStats']);
    app.value('filterWait', {
      waitTime: 2
    });
    app.controller('MainCtrl', function MainCtrl($scope, filterWait) {
      var vm = this;
      vm.onWatchCountUpdate = function(count) {
        // this is where you might do something
      };
      vm.onDigestLengthUpdate = function(digestLength) {
        // this is where you might do something
      };
      vm.filterWait = filterWait;
      vm.itemCount = 5;
      vm.hovering = {};

      $scope.$watch(function() {
        return vm.itemCount;
      }, function(newVal) {
        vm.totalItems = [];
        for (var i = 0; i < newVal; i++) {
          vm.totalItems.push(i);
        }
      });
    });

    // using directive to prevent a digest
    app.directive('showStats', function() {
      return {
        restrict: 'E',
        templateUrl: 'show-stats-template',
        link: function(scope) {
          scope.controls = {};
          initScopeWithPresets();
          var watchRun = false; // don't autoload if that's not the preset...
          scope.chartVisible = false;

          scope.$watch('controls', function(newVal) {
            if (!watchRun) {
              watchRun = true;
              if (!newVal.autoload) {
                return;
              }
            }
            updateChartOptions();
            showAngularStats(scope.chartOptions);
            scope.chartVisible = true;
          }, true);

          scope.toggleVisibility = function() {
            if (scope.chartVisible) {
              showAngularStats(false);
              initScopeWithPresets();
            } else {
              updateChartOptions();
              showAngularStats(scope.chartOptions);
            }
            scope.chartVisible = !scope.chartVisible;
          };

          function initScopeWithPresets() {
            var sessionStoragePresets = JSON.parse(sessionStorage.getItem('showAngularStats_autoload'));
            var presets = sessionStoragePresets;
            presets = presets || {};
            presets.autoload = !!sessionStoragePresets;
            presets = angular.extend({
              position: 'top-left',
              digestTimeThreshold: 16,
              autoload: false,
              logDigest: true,
              logWatches: true
            }, presets);

            scope.controls.tb = presets.position.indexOf('bottom') !== -1 ? 'bottom' : 'top';
            scope.controls.lr = presets.position.indexOf('right') !== -1 ? 'right' : 'left';
            scope.controls.threshold = presets.digestTimeThreshold;
            angular.extend(scope.controls, presets);
            updateChartOptions();
          }

          function updateChartOptions() {
            scope.chartOptions = {
              position: scope.controls.tb + scope.controls.lr,
              digestTimeThreshold: scope.controls.threshold,
              autoload: scope.controls.autoload,
              logDigest: scope.controls.logDigest,
              logWatches: scope.controls.logWatches
            };
          }
        }
      }
    });

    app.filter('longFilter', function(filterWait) {
      'use strict';
      function longFilter(input) {
        var now = new Date();
        while(new Date() - now < filterWait.waitTime) {
          // keep waiting...
        }
        return 'Item ' + input + ' waited ' + (new Date() - now) + 'ms';
      }
      longFilter.$stateful = true; // makes it not cache the result based on the input
      return longFilter;
    });

    app.filter('chartOptions', function($filter) {
      'use strict';
      return function chartOptions(options) {
        return 'showAngularStats(' + $filter('json')(options) + ');'
      }
    });
  })();
</script>
<script>
  //Google Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-62924965-1', 'auto');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
</body>
</html>
